
  .carousel-inner img {
    height: 600px;
    object-fit: cover;
  }

  .custom-button {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 8px 16px;

  }

  .bottom-25 {
    bottom: 25px;
  }
